.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Foody3ExamPrep/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/Foody3ExamPrep/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/Foody3ExamPrep/FileContentIndex/80da30c7-9ed8-4ea9-bdaa-44500f1a0816.vsidx
.vs/Foody3ExamPrep/v17/.wsuo
.vs/Foody3ExamPrep/v17/DocumentLayout.backup.json
.vs/Foody3ExamPrep/v17/DocumentLayout.json
Foody3/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Foody3/obj/Debug/net8.0/Foody3.AssemblyInfo.cs
Foody3/obj/Debug/net8.0/Foody3.AssemblyInfoInputs.cache
Foody3/obj/Debug/net8.0/Foody3.GeneratedMSBuildEditorConfig.editorconfig
Foody3/obj/Debug/net8.0/Foody3.GlobalUsings.g.cs
Foody3/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Foody3/obj/Release/net8.0/Foody3.AssemblyInfoInputs.cache
Foody3/obj/Release/net8.0/Foody3.GeneratedMSBuildEditorConfig.editorconfig
Foody3/obj/Release/net8.0/Foody3.GlobalUsings.g.cs
Foody3/obj/Release/net8.0/Foody3.AssemblyInfo.cs
